{% extends 'base.html' %}

{% block content %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(function() {
            $("#idForm").submit(function(e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                   type: "POST",
                   url: url,
                   data: form.serialize(), // serializes the form's elements.
                   success: function()
                   {
                        var d = new Date();
                        var painting_src = "{{ url_for('static', filename='tmp_painting.png') }}" + "?nocache=" +  d.getTime()
                        $("#tmp_painting").attr("src", painting_src);
                   }
                });
            });
        });
    </script>

    <div class="flex-container">
        <div id="controls">
            <form action="{{ url_for('.home') }}" method="post" id="idForm">
              <select name="algo" id="algo">
                {% for algo in algorithms %}
                    <option value={{ algo }}>{{ algo }}</option>
                {% endfor %}
              </select>
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
        <div id="painting">
            <img id="tmp_painting">
        </div>
    </div>
{% endblock %}
